[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tzwhere = "*"
pytz = "*"
astropy = "*"
matplotlib = "*"
timezonefinder = "*"
pyqt5 = "*"
flask = "*"
flask-cors = "*"
ephem = "*"

[dev-packages]

[requires]
python_version = "3.10"
